# Путь к файлу базы данных SQLite
DB_DIRECTORY=library.db

# Порт, на котором запустится сервер
SERVER_PORT=:8080

# Секретный ключ для подписи JWT токенов
JWT_SECRET=SUPER_SECRET_KEY_67_67_67_67_SIX_SEVEEEN
